[2011-08-10 10:51] sebfie opened #3 "Problem with view"
Hello,

I am trying to use your library but i have a problem.

I add

url(r'^sms/$', 'django_twilio.views.sms', {
        'message': 'Yo!',
        'to': '+33687675690',
        'sender': '+18882223333',
        'status_callback': '/sms/completed/',
    }),

But when  i go to the url /sms, i got this message :

ViewDoesNotExist at /sms

Tried sms in module django_twilio.views. Error was: 'module'

[2012-02-24 06:38] willcadell opened #7 "500 with @twilio_view decorator"
hi there, try as i might i can't get twilio to accept a voice response xml file:

view:

[code]

url:
    url(r'^validate/hometel/talk/(?P<username>[\w.]+)$', 'validate.views.publishPin',),

I'm totally stumped, the call goes in but twilio provides me back with a 500 and indicates  a "type error" if i navgate to the page the xml is just fine:

<?xml version="1.0" encoding="UTF-8"?><Response><Say>T

[2012-02-26 22:25] #7 closed, assigned to nobody

[2012-03-18 09:27] kevinburke opened #8 "typo in docs"
Hi, the docs here http://django-twilio.readthedocs.org/en/latest/rest/ mention the twilio cilent. I tried to fork and fix but couldn't find it in the repo - are the docs in a separate place?

Best,
Kevin

[2012-03-18 22:56] #8 closed, assigned to nobody

[2012-03-18 22:57] #3 closed, assigned to nobody

[2012-03-19 01:51] rdegges opened #9 "Add Optional method Decorator Option"
As @leetrout suggested here: https://github.com/rdegges/django-twilio/pull/6#issuecomment-3808921, I think it's a good idea to allow developers to set the desired HTTP method.

This should allow users to do stuff like:

[code]

[2012-04-14 22:15] rdegges opened #10 "Fix Broken Tests"
Need to update the broken tests and get rid of all our fixtures (fixtures suck).

[2012-04-14 22:18] rdegges opened #11 "Update test_project to Use Django 1.4"
Our test project should use Django 1.4.

[2012-04-24 02:17] scottwoodall opened #12 "Database driven authentication keys"
Along with declaring a TWILIO_ACCOUNT_SID in settings.py, it would be ideal if this value could be pulled from the database. This would be useful for Twilio Connect apps where every user has a different SID value.

[2012-05-13 03:13] david-saracini opened #13 "403 error when Debug = False"
I am using django-twilio on a new site on Heroku.  When I deploy with Debug=True, things work find.  When I deploy with Debug=False, I always get a 403 back.  I have RTD on the topic, but it doesn't seem like it applies.  It basically says to turn debug=True when having the problem to see what's the problem.  But, when I do this, the problem goes away.  I'm using code that is just out of the examp

[2012-07-18 21:02] ghost opened #15 "No module named django_twilio"
I have 'django_twilio' in my INSTALLED_APPS.

I see both both python twilio and django twilio in my Python PATH:

'/usr/local/lib/python2.7/dist-packages/django_twilio-0.2-py2.7.egg',
 '/usr/local/lib/python2.7/dist-packages/twilio-3.3.6-py2.7.egg',

When I try

[code]

I get "No module named django_twilio".

Any idea?

[2012-07-20 20:09] #15 closed, assigned to nobody

[2012-09-20 06:40] #13 closed, assigned to nobody

[2012-09-26 22:32] jvankoten opened #18 "Incoming Twiml getting executed twice with Debug=False"
Apache/2.2.22 (Ubuntu)
Django - Current dev. branch
## from django_twilio.decorators import twilio_view
## @twilio_view decorator

Checked access.log and only 1 Twiml request comes from Twilio, double checked Twilio notification logs and only one call is sent.

Works fine with Debug=True, and also created a stripped down version of my app on a new box with the same setup, and issue repeats.....

N

[2012-11-07 01:26] #18 closed, assigned to nobody

[2013-10-12 13:35] FelixSchwarz opened #22 "twilio_view decorator should support class-based views"
Currently the twilio_view decorator only works for simple view functions because the wrapped method assumes that the first parameter is always the Django request.

However we you apply the decorator the "dispatch()" method of a class-based view that'll fail because the first parameter in that case is a "self".

[2013-12-20 13:49] sajuptpm opened #25 "Question"
I could not find following code in this app

client = TwilioRestClient(account_sid, auth_token)
client.sms.messages.create(----)

Then, How it sending message ? with out client.sms.messages.create(----) ?

[2013-12-24 00:10] #25 closed, assigned to nobody

[2014-02-18 12:11] #11 closed, assigned to nobody

[2014-02-18 14:00] #10 closed, assigned to rdegges

[2014-02-18 17:21] phalt opened #31 "Python 3 support"

[2014-02-18 17:23] #9 closed, assigned to nobody

[2014-02-18 17:30] #22 closed, assigned to nobody

[2014-02-18 17:53] phalt opened #34 "Documentation for class-based-views"
The documentation currently lacks a description on how to implement django-twilio alongside class based views.

[2014-02-18 17:53] phalt opened #35 "Documentation on Makefile in contributing.rst"

[2014-02-19 18:45] phalt opened #36 "Python wheels support"
http://pythonwheels.com

[2014-02-22 13:39] phalt opened #37 "Update setup.py for readme.rst"
Traceback (most recent call last):
      File "<string>", line 17, in <module>
      File "/django-twilio/setup.py", line 28, in <module>
        'README.md'))).read()
    IOError: [Errno 2] No such file or directory:
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):

  File "<string>", line 17, in <module>

  File ""

[code]

[2014-02-22 13:52] #37 closed, assigned to phalt

[2014-02-23 12:44] #36 closed, assigned to phalt

[2014-02-28 14:14] phalt opened #40 "Documentation on multiple authentication token options"
Under installation.rst

[2014-03-05 14:24] #12 closed, assigned to phalt

[2014-03-05 14:24] phalt opened #42 "Migration support for Credential Model"

[2014-03-17 10:11] #42 closed, assigned to phalt

[2014-03-17 10:36] #35 closed, assigned to phalt

[2014-03-17 10:39] #40 closed, assigned to phalt

[2014-04-09 22:30] heston opened #48 "Separate settings flag for forgery protection?"
Currently, django-twilio relies on the value of `settings.DEBUG` to toggle forgery protection. However, by default, Django sets `DEBUG=False` when running tests, so that the app more closely resembles a production scenario.

This makes it difficult to test views decorated with `@twilio_view`, since test requests always fail the forgery check. It's possible to temporarily override the `DEBUG` setti

[2014-04-21 07:50] #48 closed, assigned to nobody

[2014-04-23 12:28] phalt opened #51 "TwiML builder"
I _literally_ dreamed this up last night and I think it'd be a fantastic feature to add to `django-twilio`, that may be used on other framework-specific twilio libraries in the future.
# TwiML builder
### Abstract

A `twiml` model that allows the creation of new [TwiML](http://twiml.twilio.com/docs/api/twiml) blocks through the Django administration panel or front-end, without having to type any c

[2014-05-12 13:51] JoshData opened #52 "Decorator absorbs *args"
I just updated to django_twilio 0.5.1 and ran into an interesting problem. I'm using the `@twilio_view` decorator around a view.

My URLconf pattern for a twilio_view has a regex group "(...)"  which gets passed into the view function as its second argument:

[code]

After updating, the arg is absorbed by the `methods` argument in the decorator (https://github.com/rdegges/django-twilio/blob/master

[2014-06-18 10:51] #51 closed, assigned to nobody

[2014-07-17 18:48] michaelgodshall opened #56 "Django 1.7 - get_user_model() raises AppRegistryNotReady"
I just upgraded to Django 1.7c1 and django-twilio 0.5.2, and I get the following error when I try to runserver or migrate: django.core.exceptions.AppRegistryNotReady.

The source of the problem is 'get_user_model' on line 12 of compat.py, which is invoked by the AUTH_USER_MODEL import on line 6 of models.py.  Here's an explanation of the issue from the Django documentation:

https://docs.djangopro

[2014-07-18 13:49] #56 closed, assigned to nobody

[2014-07-22 08:30] #31 closed, assigned to nobody

[2014-08-04 20:54] #52 closed, assigned to phalt

[2014-08-07 21:42] hwayne opened #62 "twilio_view always returns 403 in production on Heroku"
Any route using the @twilio_view decorator returns an HttpResponseForbidden in production on Heroku. Some additional notes:
- Running on Heroku
- Occurs on django 1.6.5, django-twilio 0.7.1, twilio 3.6.6
- Problem only occurs when DJANGO_TWILIO_FORGERY_PROTECTION is set to True
- When receiving a request from Twilio, request.build_absolute_uri() gives the same uri as when queried through the test

[2014-08-11 17:58] hwkns opened #63 "develop out of sync with master"
There are changes in the `master` branch that haven't been pulled into `develop` yet, which makes it difficult to contribute new PRs appropriately (e.g., https://github.com/rdegges/django-twilio/pull/61).

[2014-08-11 23:28] #63 closed, assigned to nobody

[2014-08-11 23:34] #34 closed, assigned to nobody

[2014-08-16 11:25] phalt opened #65 "Twilio Connect views"
[Twilio Connect](https://www.twilio.com/help/faq/twilio-connect) provides an OAuth dance for applications so users can use their own Twilio account credentials on a web application.

Currently we have to build Twilio Connect views each time we want to build a Twilio connected app. Let's add some views to simplify this process for Django.

[2014-08-27 19:54] phalt opened #67 "Twilio Feedback API views"
Twilio provides a Feedback API for call quality feedback. It would be nice to have a collection of default views for this in django-twilio to help provide this type of functionality in apps.

https://www.twilio.com/docs/api/rest/call-feedback

[2014-09-18 19:33] tobych opened #68 "Add ability to send MMS messages"
As of today, users in US and Canada can send MMS with regular (long) phone numbers.

https://www.twilio.com/help/faq/sms/can-i-send-or-receive-mms-messages

[2014-09-22 15:00] #68 closed, assigned to phalt

[2014-09-22 15:33] #62 closed, assigned to nobody

[2014-10-24 23:15] phalt opened #70 "HTTPRequest Decomposer Proposal"
Django-twilio views are always passed an [HttpRequest](https://docs.djangoproject.com/en/dev/ref/request-response/#httprequest-objects) object as the first parameter. When ever a developer needs to get the POST parameters supplied by Twilio from the HTTPRequest object, they have to do this:

[code]

As django-twilio is designed to make Twilio easier with Django, it is likely that this will be done

[2014-11-04 16:29] #70 closed, assigned to nobody

[2014-11-11 10:23] phalt opened #72 "Built-in two-factor authentication support"
Let's add two-factor authentication support to django-twilio as a "dropin" feature.
### Basic flow
1. An abstract user model `2FAUser` subclasses the standard [Django user model](http://django.readthedocs.org/en/latest/ref/contrib/auth.html#django.contrib.auth.models.User) with the following extra attributes:
   - `phone_number` - the user's phone number
   - `2fa_code` - a randomly generated 5 ch

[2014-11-15 13:56] phalt opened #73 "TWILIO_DEFAULT_CALLERID missing from documentation"
The `TWILIO_DEFAULT_CALLERID` setting is not mentioned in the settings documentation.

[2014-12-03 16:31] synic opened #77 "ProgrammingError: relation "django_twilio_credential" does not exist"
Using django 1.7.1, and django_twilio 0.8.0, when trying to delete a user account, we get the message you see in the subject.  django_twilio is in our INSTALLED_APPS.

[code]

It appears as though the `Credential` was added later, but a proper migration wasn't added to bring it up to speed (I could be wrong about that) :)

[2015-01-11 23:48] cyberjoac opened #78 "Represent the phone numbers as two widgets"
Hi,
Thanks a lot for your great package.

What would be the best way to go to render the phone number widget as two widgets:
- International prefix in a choice list (+1 for the US, +33 for France etc.)
- Phone number in the country locale.

Thanks a lot.

[2015-01-24 09:55] ryankask commented on #73
It's mentioned [in the docs here](https://django-twilio.readthedocs.org/en/latest/install.html#authentication-token-management) but it doesn't seem to be used by the app anywhere.

[2015-01-30 09:21] afriapps opened #80 "Cannot use reject correctly"
When using reject like the following:

twilio_response = Response()
r = twilio_response

r.pause()
r.reject(reason='busy')

return r

It works as expected.

But as soon as you leave reject blank, it does not work anymore:
r.reject()

Or the same with the default:

r.reject(reason='rejected')

So basically you cannot use the default "rejected" string with reject

[2015-02-08 19:11] mrhwick opened #81 "The version of twilio-python currently used does not fully support Python 3."
**This is a follow-up of #62.**

I am currently experiencing this issue in production running on Python 3. Every request tendered to a view decorated with the twilio_view decorator is returning a 403 immediately without ever entering the view.

In that issue, a 403 forbidden was being returned consistently for views decorated with the twilio_view decorator. Later, it was discovered to be a python

[2015-02-08 19:26] #81 closed

[2015-02-26 17:31] hwkns commented on #77
Finally tracked this one down.  Way back in https://github.com/rdegges/django-twilio/commit/53693789575b1786afca52fe1b15047e8e07207d, instead of doing the proper thing and creating a second migration, the initial migration was updated.  The old version didn't contain the `Credential` model, so if you had already run the initial migration before this change, you never created the `django_twilio_cre

[2015-05-05 15:03] birdsarah opened #83 "GET as opposed to POST"
Hi,

(apologies if this is documented somewhere, i did try looking).

I am just experimenting with twilio and django-twilio for the first time.  I was getting 403 when I tried to use a GET rather than a POST from twilio (this is a dropdown option in their UI).

When using POST, all is well.

Is there anything I should know here. I'm happy to do a small PR to the docs if GET is not supported.

Best

[2015-07-08 05:44] eeejay commented on #65
Reminder :) :)

[2015-09-01 02:00] catskul opened #87 "Django 1.9 deprication warnings"
[code]

[2015-09-09 17:49] professorDante opened #89 "403 for twilio_view decorator when sending text"
Using Django 1.4.20, django-twilio 0.8.0, twilio 4.5.0, South 1.0.2. I have TWILIO_AUTH_TOKEN set in settings.py, debug=False.

No matter what I change, I always get a 403 from my Django app when sending a text, if using the twilio_view decorator. If I simply change it to use the csrf_exempt decorator, everything works.

[2015-10-08 21:49] scottginger opened #90 "api.twilio.com switching to SHA-2 certificates"
Twilio announced it's updating api.twilio.com to use SHA-2 certs. Does django-twilio support the new certificates?

[2015-10-09 20:10] joshlsullivan commented on #87
I get the same issue.

/Users/joshsullivan/.virtualenvs/django-twilio/lib/python2.7/site-packages/django_twilio/models.py:15: RemovedInDjango19Warning: Model class django_twilio.models.Caller doesn't declare an explicit app_label and either isn't in an application in INSTALLED_APPS or else was imported before its application was loaded. This will no longer be supported in Django 1.9.
  class Calle

[2015-10-23 15:47] catskul commented on #87
I was able to get this to go away by adding it to INSTALLED_APPS

[2015-10-23 15:47] #87 closed

[2015-11-16 19:43] scottginger commented on #90
I contacted Twilio support, who told me that the official Twilio Python package "twilio-python", which django-twilio depends on, uses the system SSL library.

This means that django-twilio is agnostic to certificate type -- if the system supports SHA-2 certs, this package supports SHA-2 certs.

[2015-11-16 19:43] #90 closed

[2016-01-19 22:24] joshlsullivan opened #91 "Saving to Callers"
I am writing a script that will take the `From` number and save it to the database. I would like to save it to the Callers database in the admin. Is that possible?

[2016-03-29 00:14] catskul opened #92 "Resolve Django 2.0 deprecation warnings"
[code]

[2016-04-26 14:48] AudreyBramy commented on #89
Hi,

Did you find a way to resolve your issue?

Thanks,

[2016-05-04 17:05] chavenor opened #93 "How do you get the URI for recordings and transcriptions?"
How do you get the URI for recordings and transcriptions?

Thanks!

[2016-05-08 03:46] chavenor commented on #93
Figured it out.

[2016-05-08 03:46] #93 closed

[2016-12-21 01:35] km-pg opened #94 "Support later versions of Django"
Getting a warning in Django 1.8 about request.REQUEST being removed in 1.9

site-packages/django_twilio/utils.py:69: RemovedInDjango19Warning: `request.REQUEST` is deprecated, use `request.GET` or `request.POST` instead.
  caller = Caller.objects.get(phone_number=request.REQUEST['From'])

[2017-01-16 14:52] nsomaru commented on #94
@phalt is this project still maintained?

[2017-01-17 19:49] rdegges commented on #94
Hey guys, this project is PARTIALLY maintained right now.

It would be awesome to get some help.

I'm the original author, but am not working on any active django + twilio projects lately, so I've been neglecting this. @phalt was maintaining for a long time, but recently left Twilio, and likely doesn't have a lot of free time ton contribute.

If anyone wants to help out, I'll still review / merge

[2017-01-18 05:33] nsomaru commented on #94
@rdegges

If you don't mind mentoring a noob, I could pick up some of the slack.

[2017-02-03 18:19] rdegges commented on #94
Heyo! I'd love to do that, but don't really have the time to mentor right now. My work and personal life is sort of crazy :( But if you send over a PR I'm happy to review!

[2017-04-22 23:54] lggwettmann commented on #94
Pity this package is unmaintained and not working in Django > 1.09. Looks like a great package (and like it was a lot of work).

[2017-04-23 01:44] rdegges commented on #94
I feel bad :( I'd love to work on this, but don't really use Django much now-a-days, so am really out of the loop on what I'd need to do to make this awesome without investing a ton of time.

If anyone wants to jump in and contribute, I'm 100% open! I believe 99% of this code is still good to go, with some minor changes needed for Django release modifications over the last couple years.

[2017-04-24 05:00] km-pg commented on #94
@rdegges Can you review this PR? Might be a step in the right direction.
https://github.com/rdegges/django-twilio/pull/95

[2017-05-01 04:44] binhe16 opened #96 "Support twilio 6.x"
Got this deprecation notice from Twilio:
The old library (5.x) will be officially supported until 7/3/2017. After that day, Twilio will stop providing bug fixes and Support might ask you to upgrade before debugging issues.

[2017-05-24 00:49] km-pg opened #97 "Still using?"
Poll: who's still using this project in your apps? Respond here.

[2017-05-24 16:16] mathieusteele commented on #97
I have it in testing and it is not used in production. I recently upgraded
Django and am experiencing some issues with compatibility.

On Tue, May 23, 2017 at 8:49 PM, Kyle Mulka <notifications@github.com>
wrote:

[2017-05-27 01:49] yousifa commented on #97
Want to use, but compatibility issues w/ 1.11, trying to fix

[2017-05-27 01:54] yousifa commented on #96
+1

[2017-06-08 13:48] jheld commented on #97
Yep using for our project with django 1.11, currently haven't noticed any issues, but we're also on v5. Need v6 support really soon.

[2017-06-08 13:48] jheld commented on #96
+1

[2017-06-08 14:48] wbt commented on #97
http://govtrack.us/ is still using this, assuming this is the code referred to on line 20 of [this file](https://github.com/govtrack/govtrack.us-web/blob/master/build/pipreq.txt), installed with pip.

[2017-06-08 14:52] wbt commented on #94
@rdegges maybe also [#131](https://github.com/govtrack/govtrack.us-web/pull/131)?

[2017-06-08 17:53] birdsarah commented on #97
@tomd-aptivate - is ilsss still active / using this?

[2017-06-20 01:19] jheld commented on #96
@rdegges so it is now in master. What are the next steps before an official PyPI update? Do you need help? My team will be testing soon but we're curious for your thoughts.

[2017-07-05 21:34] marauder37 commented on #97
We're using this in production, just ran into compatibility problems

[2017-07-13 18:30] andrewheyer commented on #97
Using it in production, was getting deprecation issues. Adding app labels to the meta class seemed to have fixed it.

[2017-08-01 21:01] powerhouseofthecell commented on #97
Still using it in personal apps, running into problems with pip-installed decorators.py file

[2017-08-01 21:08] powerhouseofthecell opened #102 "decorators.py"
I'm under the impression that I must be missing something important here, because I can't seem to find this issue elsewhere on the web. However, my pip-installed version of django_twilio has a decorators.py file which is inconsistent with the one here on GitHub. The main problem seems to arise from these two import statements:
[code]
The above statements should be:
[code]
The current GitHub versio

[2017-08-02 06:22] hwkns commented on #96
It's almost a month since 7/3...  Any word on this?

[2017-08-03 20:52] mulka commented on #102
@rdegges probably needs to push a new version to pypi.

[2017-08-05 03:52] audrummer15 commented on #102
Definitely need to get this out to pypi asap. I'm unable to use the default pip installations of twilio and django_twilio.

Awesome work though on this project guys! And thanks for posting @powerhouseofthecell

[2017-08-08 00:13] jheld commented on #97
We're using the newer version of this. Haven't noticed any glaring issues (silence can be a good thing). Texts and phone calls seem to work great.

[2017-08-15 18:59] willex commented on #102
Having the same issue! Is there an ETA on when this is going to get pushed? I also can't install through pip because of this!

Thanks for the post @powerhouseofthecell!

[2017-08-15 19:10] audrummer15 commented on #102
Unfortunately I think the repo is entering an unmaintained state. @willex your best bet is to probably create your own fork and use that.

[2017-08-17 02:39] jheld commented on #96
We installed the master build back then and we've had no issues. Are there concerns on specific features/support?

[2017-08-23 19:19] charlietw commented on #102
+1 for pushing this amendment to pypi

[2017-08-29 08:59] mulka commented on #102
I've pushed a forked version of django-twilio to pypi as django-twilio2 which has the fix for this

[2017-08-29 09:00] mulka commented on #97
I've pushed a forked version of django-twilio to pypi as django-twilio2. Please take a look and let me know of any issues you run into.

[2017-08-29 09:02] mulka commented on #96
I've pushed a forked version of django-twilio to pypi as django-twilio2 which supports the twilio library 6.x. Check it out!

[2017-11-08 17:49] rdegges commented on #102
Hey @mulka -- I'm happy to add you as a owner of the repo here. Your work would be greatly appreciated!

[2017-11-08 17:49] rdegges commented on #102
If you're amenable to that I'm happy to hand over commit and PyPI access. I've mentioned this before in different issues, but I no longer use Django in my day-to-day work, and haven't been keeping up with changes to these libraries.

[2017-11-14 17:38] rdegges commented on #97
Hi guys,

I've said this a few times, but I'd be happy to pass over ownership of this project to someone else. (@mulka -- if you're maintaing a fork would you like direct access here so you can manage the official one?)

My situation is that I haven't used Django full-time for a while now, and don't have any active django-twilio projects. Because of this (and other time commitments) I haven't main

[2017-11-15 06:13] hwkns commented on #96
@rdegges are you still maintaining this project, or should we switch to the package @mulka published?

[2017-11-15 23:23] rdegges commented on #96
Hey! I mentioned this in multiple comment threads on here, but no. I have not maintained this library for a while. I've been actively seeking maintainers, and I've been wanting to pass over ownership. I told people that if they'd like to contribute I'll happily give them admin access to the Github repo and PyPI package.

I offered to @mulka but haven't heard back yet. I know that as a user it's an

[2017-12-14 23:07] aljp opened #103 "Does not work with Django 2.0 due to missing on_delete argument in models"
The django-twilio library does not work with Django 2.0

[code]

[2017-12-14 23:08] aljp commented on #92
Django 2.0 is out now and this hasn't been fixed.  I've made an issue referencing the error raised by Django 2.0 #103

[2017-12-28 02:15] jheld commented on #102
Hi all,

I'm a new contributor/maintainer of this project. Thanks @rdegges. I'll be looking through the issues and PRs as quickly as I can. Please provide any updates (usage, issues, workarounds) that you may have, or patches, as PRs; otherwise it's in order of importance, followed by morality.

[2017-12-28 02:22] jheld commented on #97
Hi all,

I'm a new contributor/maintainer of this project. Thanks @rdegges. I'll be looking through the issues and PRs as quickly as I can. Please provide any updates (usage, issues, workarounds) that you may have, or patches, as PRs; otherwise it's in order of importance, followed by morality.

[2017-12-30 23:39] kblicharski commented on #97
@jheld Myself and a coworker are currently working through a mountain of tech debt, and in the process, want to upgrade to Django 2.0 and Twilio 6, but are being limited by this project. Let me know if there's a way we can help with some of the issues here, like #101 or #103.

[2017-12-31 00:21] jheld commented on #97
Hi @kblicharski,

I did merge #101 into develop, and a couple other PRs. But yes there is indeed more work to do.

I'll take a look at #103. Hopefully it's as simple as the issue suggests.

I'm waiting on PyPI credentials so general access to the next release will be available.

I'll probably update master soon though and make a version bump.

I'll let you know if I need any help. Thanks!

[2017-12-31 20:33] jheld commented on #94
Hi all,

I'm the new maintainer, though I'm surely open to PRs and help.

I'm getting the project prepared for upgrades and a new release soon.

[2018-01-03 01:22] jheld commented on #103
Please check out the latest alpha build on PyPI or build it from master.

[2018-01-03 01:23] jheld commented on #97
Please check out the latest alpha build on PyPI or build it from master.

[2018-01-03 01:23] jheld commented on #96
Please check out the latest alpha build on PyPI or build it from master.

[2018-01-22 20:53] suavesav opened #115 "Documentation request: upgrading to twilio 6.x"
When I upgraded to twilio SDK 6.x I was met with this error from django-twilio 0.8:
`ImportError: cannot import name Verb`

The fix was simple but took a bit of digging around in the django-twilio repo.
it was to upgrade to django-twilio 0.9.0a1

Would be great to have a little note about that in the documentation. Because people are starting to adopt 6.x and it would save people some time and fru

[2018-01-22 21:08] jheld commented on #115
@suavesav yes thank you. I haven't added the alpha PyPI badge (for alpha version), but maybe that's also worth doing?

By default, PyPI will not show/install alpha builds, so I appreciate you stepping up on this.

It looks like we do have some downloads of the `0.9.0a1` build. I plan on promoting it `rc` or an official `0.9.0` in the coming weeks.

[2018-01-28 04:28] jheld commented on #115
Docs and readme have been updated. Please re-open if you want to enhance it further.

[2018-01-28 04:28] #115 closed

[2018-01-28 04:31] jheld commented on #103
This has been updated in the 0.9.0 release and is on master. Please re-open if you encounter any issues.

[2018-01-28 04:31] #103 closed

[2018-01-28 04:32] jheld commented on #92
master and 0.9.0 release address this. Thank you.

If you encounter any issues please re-open.

[2018-01-28 04:32] #92 closed

[2018-01-28 04:36] jheld commented on #94
master and 0.9.0 address this.

Please re-open if you encounter any issues.

[2018-01-28 04:36] #94 closed

[2018-01-28 04:41] jheld commented on #77
Looks like we're way past the date here. I'll consider adding this to the docs retroactively, but given how long ago this was, I'm more inclined to just let this die.

If you have strong opinions, please re-open and we can discuss.

[2018-01-28 04:41] #77 closed

[2018-01-28 04:43] jheld commented on #91
I'll try to think on this a bit more, but do you remember some specifics of what the flow was supposed to be, involving the django admin?

[2018-01-28 13:59] joshlsullivan commented on #91
@jheld You can mark this as closed. I no longer need this. Thanks for responding.

[2018-01-28 14:05] #91 closed

[2018-01-31 00:11] jheld commented on #102
Just to update everyone here, `0.9.0a1` is available on PyPI. It has all of the support for twilio 6.x and support for django 2.0 as is based on the MRs and issues here so far.

My company is testing today and deploying tonight with the alpha build from PyPI. If all goes well in the coming days up through the sprint (maybe earlier), I'll release either a `rc` build or just the proper `0.9.0` build

[2018-01-31 00:11] jheld commented on #102
I'm closing this issue for now. If you still have issues or any comments related to this issue, please re-open as needed.

[2018-01-31 00:11] #102 closed

[2018-01-31 01:22] jheld commented on #78
Hi @cyberjoac ! When you say 2 widgets, do you mean via django admin, or as a model change itself?

I'd like to hear more, if you remember what you were looking for.

Thanks!

[2018-01-31 01:29] jheld commented on #72
Hey @phalt I realize we're over 3 years past your last message here, but is this still something you and others might appreciate? It seems cool, and entirely optional, too.

[2018-02-07 01:13] jheld commented on #96
Hey everyone.

I've released version `0.9.0` to [PyPI](https://pypi.python.org/pypi/django-twilio/0.9.0). It is nearly identical to `0.9.0a1` (docs, some test case and module import improvements). My company has been using it for a week and so far we've encountered no issues. I'll update via an issue and MR if we do find anything.

Because this project is not yet `1.0`, and because the fixes going

[2018-02-07 01:13] #96 closed

[2018-02-07 01:17] jheld commented on #97
Hey everyone.

I've released version `0.9.0` to [PyPI](https://pypi.python.org/pypi?:action=display&name=django-twilio&version=0.9.0). It is nearly identical to `0.9.0a1` (docs, some test case and module import improvements). My company has been using it for a week and so far we've encountered no issues. I'll update via an issue and MR if we do find anything.

Because this project is not yet `1.0`

[2018-02-07 01:17] #97 closed

[2018-02-07 01:23] jheld commented on #83
HI @birdsarah . I know it's been 2.5 years since you opened this issue, but hey, I'd like to see what we can do.

Is this something that was fixed?

The unit tests do allow POST and GET for text sending, but I'm interested to find out what you were looking to do/fix. If you remember, that is!

Thanks!

[2018-02-07 01:24] jheld commented on #89
Did anyone solve this? I know it's been quite awhile, but just checking in in case we have a specific resolution.

[2018-02-07 16:28] birdsarah commented on #83
Hi! I'm afraid I really don't recall at this point. Suggest we close!

[2018-02-07 16:28] #83 closed

[2018-02-07 18:32] jheld commented on #102
Hey guys, I have released version `0.9.0`, so if you're still receiving notifications for github, hopefully this reaches you!

[2018-04-05 20:06] km-pg opened #131 "twilio_view returning Reject verb for SMS"
When a caller is blacklisted, twilio_view is returning a Reject verb which I think works in a Voice context, but in an SMS context, Twilio gives an error.

[2018-04-06 15:24] km-pg opened #132 "patterns in urls.py is deprecated (removed in django 2.0 I think)"

[2018-04-06 16:33] km-pg commented on #132
After looking into this, I guess test_project/urls.py isn't even used. The settings file directly references test_project.test_app.urls and bypasses test_project/urls.py. I wonder if that file is even needed.

[2018-04-06 16:34] km-pg commented on #132
One side effect of skipping the main urls.py file is that you can't use the admin in the test project. That would be nice to use.

[2018-04-07 08:58] coler-j opened #133 "Support for Programmable Chat"
Is there any support for twilio programmable chat in this library?

[2018-04-09 22:48] coler-j commented on #133
Yeah, send and receiving, adding members to groups, etc. I would also like to contribute. I will have to find some time to review the library.

[2018-04-15 17:24] lggwettmann opened #134 "Confirming Cellphone numbers via sms?"
Hey guys,

thanks for this great package. After reading the documentation, it's not clear to me if there's a functionality which lets me confirm my users' cellphone numbers.

Eg. someone fills in their cellphone number, django-twilio sends a sms with a verification code, ux shows a form to fill in the code and confirm the number

If this functionality is not included do you happen to know another

[2018-04-15 19:41] jheld commented on #134
Hello! Thanks for asking.

We have no direct support for this feature in the codebase. There are some integrations that we have taken on to make the project more suitable for real world use. As such, it's possible we could make this an optional enhancement, too. I'm unsure of the exact mechanisms that would be needed to make this generic enough but still useful.

I suppose we could provide a base

[2018-04-18 22:30] jheld commented on #132
Hey @km-pg thanks for pointing this out. Yeah, definitely not something we want to hold onto. And since we're 1.8+, we won't need to either. And you're right, the test project does directly look at the app's urls, and yes, having admin access would be great from the test project.

I'll see if it's easy enough for us to simply use the test_project's URLconf (after changing the patterns to be the mo

[2018-04-22 17:07] jheld commented on #132
@km-pg please let me know if you encounter any further issues (based on the `master` branch, not released to PyPI yet). Closing for now.

[2018-04-22 17:07] #132 closed

[2018-04-25 13:34] sergiobrr commented on #73
But is it the account sid or what?

[2018-04-26 20:26] jheld commented on #73
Correct, it appears to have zero usage in the app currently.

It is supposed to be the default number (e.g. "5555555555") is calling or texting the call or text in progress.

So if Person A is calling person B, then person B will get a voice call from this default caller ID (it won't look like Person A is calling, even though they are, from a call log perspective).

But, it's not used :) We could/

[2018-05-02 07:50] nsomaru commented on #89
Perhaps this should be close until we're able to reproduce at least with a Django version that is still supported.

[2018-08-05 22:14] ryanhiebert opened #139 "Django 2.1"
Django 2.1 is released, but this library's requirements explicitly require `<2.1`. This is blocking my upgrade to Django 2.1. Are there known issues with Django 2.1?

[2018-08-06 00:38] jheld commented on #139
Hello!

Last I read the 2.1 release docs, I didn't see anything bad,  but that was
in the context of a different project.

I will open up the test run against 2.1 on a new branch. If nothing fails,
then I don't see any reason not to include the new version.

Would you be willing to run a custom wheel build and give feedback? Not
sure how comfortable you are in that flow.

On Sun, Aug 5, 2018, 6:14

[2018-08-06 13:11] ryanhiebert commented on #139
I am able to run my test suite with the repo, if needed.

[2018-08-09 01:52] jheld commented on #139
Merged and deployed to PyPI. Please reopen if you find any issues.

[2018-08-09 01:52] #139 closed

[2018-08-26 13:23] niko86 opened #144 "Problems with django rest framework"
Hello,

I've been trying to use django-twilio with DRF and nothing I do seems to get around 500 Internal Server Error.
- decorator() missing 1 required positional argument: .request_or_self()

[code]
Using django itself with django-twilio works not problem, but not with DRF.
I'm not extremely experienced with debugging issues like this, is this a problem with django-twilio or is it a DRF problem.

[2018-08-26 14:49] niko86 commented on #144
Sorted one issue now noticed another.

[2018-08-27 22:11] jheld commented on #144
@niko86 please let me know if you have any questions.

[2018-08-29 19:38] nmcode opened #145 "[Question] Why this is not avalaible for Django 2.0.x ?"
[Question] Why this is not avalaible for Django 2.0 ?. What's the reasons of "incompatibility" ?

django-twilio 0.9.3 has requirement Django<2.2,>=2.1; python_version >= "3.5", but you'll have django 2.0.6 which is incompatible.

Thanks.

[2018-08-29 20:48] jheld commented on #145
Hi @nicolasmendoza

It's possible this is simply a bug in the setup.py syntax.

However, I do see the following there:

[code]

Are you unable to install the library with your current environment setup?

[2018-08-30 02:04] jheld commented on #145
I was trying to make it as close to the django supported environment as possible (admittedly we support a wider gamut for the short term).

https://docs.djangoproject.com/en/1.11/faq/install/#what-python-version-can-i-use-with-django

[2018-08-30 12:15] jheld commented on #145
@nicolasmendoza ok. I'm sorry for the bug! This django 2.1 support was hard for me to get right.

I'm totally fine releasing a new build today provided we can get the syntax correct.

I wonder why travisCI didn't warn me about the build error...

Can you please share your code change as a snippet or PR?

Thanks!

[2018-09-04 00:57] jheld commented on #145
I tried to install on my local using py3.6, and was able to install all of the requirements. I did have to explicitly reinstall django==2.0.* (2.1 comes by default via `requirements.txt` in the project), but that did work.) I was able to run the runserver in this environment.

Just so you know (I do understand that you had an install issue), this is the travis CI test that passed: https://travis-c

[2018-09-04 03:01] nicolasmendoza commented on #145
@jheld Sorry for the delay, I'm "on fire" this last days but I tried to provide you a pull request soon.

Thanks!

[2018-10-24 23:39] jheld commented on #145
@nicolasmendoza any updates? Just so we don't forget.

[2018-10-24 23:39] jheld commented on #144
@niko86 can you update us with the problem you face?

[2018-11-13 05:44] KrunchMuffin opened #146 "Subaccounts and Credentials"
We use subaccounts to keep track of each client. These subaccounts each have their own SID and TOKEN. How can I use this package with individual credentials? Seems like the settings only account for one set of creds?

[2018-11-18 04:02] jheld commented on #146
@KrunchMuffin I haven't used it, but the project does have a `Credential` model which may solve your use case.

[2018-11-18 04:11] KrunchMuffin commented on #146
Yes, I see that now
https://github.com/rdegges/django-twilio/blob/d50ead89ca0996f6fe7e1b9359d877637627594e/django_twilio/models.py#L39

Being a newbie tho, not sure how to implement it. Assuming it's not documented since I can't find anything in the docs?

[2018-11-21 16:13] jheld commented on #146
In order to setup the twilio `Client` object (send a text, etc), you can use the `discover_twilio_credentials` function and pass in the current `user` object to it, to get the specific set of credential info.

When receiving a text/call, you may have to inspect the incoming request object to see which account is being used, otherwise I'm unsure how you would know.

I can provide examples of this i

[2018-11-21 16:18] KrunchMuffin commented on #146
Sure, if you could provide an example, would be most appreciated. We don't do incoming, at least right now, but be good for others that come across this to know how to do it as well.

Thanks! 👍

[2018-11-21 16:41] jheld commented on #146
Yes.

To access a specific `Credential`'d twilio `Client`:
[code]
I'll work on the other portion in the next week. I don't have a running server right now, but at least the first part is here.

[2019-02-01 22:10] jheld commented on #145
@km-pg thank you. I didn't see it was newly supported. Yes, it sure can be included!

[2019-02-01 22:12] km-pg commented on #145
Great to hear! Thanks

[2019-03-28 21:47] jheld commented on #145
Setup support has been added. Please reopen if 0.10.0 still has issues.

[2019-03-28 21:47] #145 closed

[2019-03-30 17:01] jheld commented on #131
PR was merged last year. If this does still have an issue, please reopen.

[2019-03-30 17:01] #131 closed

[2019-04-02 23:59] chris1610 opened #151 "Django 2.2 Release"
Django 2.2 is out now https://docs.djangoproject.com/en/2.2/releases/2.2/

If Django 2.2 is installed, Installing latest client will force downgrade to 2.1.8.

[2019-04-03 00:02] jheld commented on #151
Please note #150 is in progress to be merged short term. 2.2 was only recently released;  hopefully we see no breakage and can simple allow the upgrade seamlessly.

[2019-04-03 00:04] chris1610 commented on #151
Oops. Sorry about that. Thanks for the quick comment! I will close this out.

[2019-04-03 00:04] #151 closed

[2019-04-22 20:38] matyak opened #153 "Having trouble migrating"
File "<frozen importlib._bootstrap>", line 994, in _gcd_import
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 665, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 678, in exec_module
  File "<frozen importlib._bootstrap>", line 219,

[2019-04-23 07:56] chrisgrande commented on #153
Run `pip install phonenumbers` - seems to be any issue with `django-phonenumber-field` not installing the needed dependency.

[2019-08-28 21:27] cyzanfar commented on #65
reminder :))

[2019-08-28 21:31] jheld commented on #65
Sounds cool!

We are open to contributions here.

I cannot promise how fast I would get to this.

[2019-08-28 21:48] cyzanfar opened #154 "'Client' object has no attribute 'phone_numbers'"
Hey,

I'm using Twilio in my Django project:

[code]

However when I try accessing Twilio resources using the example in your [documentation](https://django-twilio.readthedocs.io/en/0.10.0/rest.html#the-twilio-client-wrapper)

I get an error:

[code]

Here is my code:
[code]
which is breaking when i call phone_numbers on the client.

Please advise thanks!

[2019-08-28 23:33] jheld commented on #154
Can you show us the `dir(twilio_client)`?

I haven't used that part of the code before (I have instantiated in other ways).

It's also possible that the docs are simply behind (which would be unfortunate!).

[2019-08-28 23:55] cyzanfar commented on #154
Yeah I think they are behind... How would I use the Twilio resources then?

Here's the output of `dir(twilio_client)`:

[code]

[2019-08-29 00:00] jheld commented on #154
Ah ok. I think you want incoming_phone_numbers, the ones you bought (I think). As opposed to available_phone_numbers. Please check the docs on those if you can. Twilio docs. We'll update ours accordingly.

[2019-09-18 22:07] jombooth opened #155 "Releasing a Django 2.2-compatible version of django-twilio possible?"
I saw in https://github.com/rdegges/django-twilio/issues/151 and https://github.com/rdegges/django-twilio/pull/150 that the latest release candidate of `django-twilio` supports Django 2.2; but it looks like a release hasn't been cut since that rc was put up in April. Is any additional validation needed before a non-rc Django 2.2-compatible release can be made?

[2019-09-18 23:27] jheld commented on #155
Hi @jombooth

My team will be putting the library in test this week but we are on django 2.1 still. Probably be at least a few more weeks til we upgrade. Yes please if you can test some, then I'll cut an official release. I haven't gotten any validation from the community yet.

[2019-09-20 20:00] jombooth commented on #155
Thanks for your reply! Unfortunately since my usage of `django-twilio` is rather limited my testing wouldn't demonstrate much. So, I'll wait for the rest of the community to validate and upgrade when that happens :+1:

[2019-10-12 13:58] nigelfig opened #156 "django-twilio forgery protection issue when trying to send post requests from website."

[2019-10-13 08:36] #156 closed

[2019-10-22 01:45] steverecio commented on #146
I didn't see anything in the repo for generating credentials. Do you have to manually create a Credential entry or is there a helper function? I'd like to generate a subaccount for every user to make it easier to bill accounts for SMS usage.

[2019-10-22 20:36] steverecio opened #157 "ModuleNotFoundError: No module named 'phonenumbers'"
Installing django-twilio and the server throws the following error on startup:

`ModuleNotFoundError: No module named 'phonenumbers'`

I was able to fix it by adding `phonenumbers` to my requirements.txt file but maybe we should add that to the requirements file in this project. I also noticed the package requires `django-phonenumber-field==0.6` even though the latest version on pypi is 3.0.1. May

[2019-10-22 21:20] jheld commented on #157
I haven't had the module issue. But my req file has likely included it for a long time.

There are also some deprecation warnings that I think are solved by upgrading the package. Agreed we should do so.

The django 2.2 support should be official this week -- testing has been good.

After that, yes, req/upgrades could be a good next release.

[2019-11-13 23:54] jombooth commented on #155
It looks like https://github.com/rdegges/django-twilio/releases/tag/0.11.0 supports Django 2.2, so I'm gonna close this issue. :beer:

[2019-11-13 23:54] #155 closed

[2019-11-14 00:20] jheld commented on #155
Oh yes I'm sorry. We went live with this and I forgot to update back here.

Thank you!

[2019-11-25 19:37] taewookim opened #160 "zlib.error: Error -3 while decompressing data: incorrect data check"
Django: 2.2.7
Virtualenv: Pipenv / Conda (pipenv, version 2018.05.18)

When I start django-twilio via pipenv on conda distribution, i get this error.

Any idea where im doing it wrong?

[2019-11-25 19:38] taewookim commented on #157
is the 2.2 support out yet?

[2019-11-25 19:54] taewookim commented on #157
Btw.. it's strange but after instsalling phone numbers via conda

for some strange reason, pipen install phonenumbers does't seem to "break" (i was getting weird zlib error)

[2019-11-25 20:19] jheld commented on #157
@taewookim yes, django 2.2 support is out. as of 0.11.0

[2019-11-25 20:20] jheld commented on #160
I've never used conda so I'm not currently a good resource for this error triage. Let me know if you'd like me to look into it further.

[2019-11-25 20:21] jheld commented on #157
#159 is supposed to fix this. Please see my question on there. I don't see anything in this repo which uses that package so I'm surprised it fails without it being installed.

[2019-11-25 21:53] taewookim commented on #160
Sorry, this error also happened on regular python shipped with Ubunu 18.04 LTS

[2019-11-25 21:55] taewookim commented on #157
Are the docs updated? For [example in the docs](https://django-twilio.readthedocs.io/en/latest/views.html)

This causes this error

[2019-12-03 21:51] jimmydess opened #161 "Django 3.0 support"
Just wondering if this is in the works. Thanks :)

[2019-12-03 21:56] jheld commented on #161
Yes. My project is looking to test against 3.0 (currently) and we use this. Assuming tests pass then we'll try some internal testing and go from there.

Thanks for asking!

[2019-12-03 22:38] jimmydess commented on #161
Awesome, thanks!

[2019-12-09 19:21] jheld commented on #161
We have an open branch, but are waiting for a fix on django dynamic fixtures to have django 3.0 support first.

[2019-12-09 20:59] jheld commented on #161
https://github.com/paulocheque/django-dynamic-fixture/pull/97 is our major blocker right now.

[2020-01-11 17:40] MicahLyle commented on #161
@jheld Anything I could do to help get this merged/tested/released?

[2020-01-11 22:14] jheld commented on #161
@MicahLyle @jimmydess I have cut 0.12.0rc1 and it is now on PyPI. If you can help us determine its stability, that would be great. My project might be a bit longer to find the stability marker.

[2020-01-24 17:58] MicahLyle commented on #161
I can confirm we've had no problems with Twilio's Verification API, and all the relevant imports that come along with that. That's all we're using though on the project where I'm on `0.12.0rc1`.

[2020-01-24 20:06] ryanhiebert commented on #161
Thanks, @MicahLyle . This is the last package I have before I'm 3.0 compatible, and this upgrade doesn't seem like a big risk to me, so I've been hoping I can avoid changing my Pipfile to get this package upgraded. (I only want to change the lockfile. Pipenv doesn't play nice with prerelease versions, they have to be fully specified in the Pipfile, so then it would stop noticing new updates unless

[2020-01-25 03:28] jheld commented on #161
Gotcha.

Thanks for testing!

We also seem to have stability (on django 2.2 but still!). Yeah the code change in the release was quite small so I didn't anticipate issues arising.

I will plan to cut the official release either this weekend or by early next week.

I do also try to make sure to make a release on the github project page. I do try to update issues/pull requests to help folks but if y

[2020-01-25 23:08] ryanhiebert commented on #161
Subscribing to releases can be good. But my issue isn't really about notifying _me_, its about messing with my automation, and my workflow. It's not just about passing the release to me, a human, its about making sure that my automated processes will see it, and help me remember when I as a human often will forget (even when I'm reminded). This is somewhat a shortcoming in Pipenv, to be sure.

How

[2020-01-25 23:26] jheld commented on #161
@ryanhiebert Oh, I'm definitely over cautious. Part of that is that like most maintainers I do not tend to spend a lot of time (or get to) on keeping my OSS projects up to date. I try to ensure that the test suite is valid and that the common cases are covered/usable/don't break. And if my company/project doesn't use the target change (django 3.0, we aren't there just yet), then I'm even more caut

[2020-01-25 23:27] jheld commented on #161
If anyone does find issues with this django 3.0 integration, please open a new ticket with as many details as possible. Given that this was supposed to only be import six/bytes/str simple line changes, though, I don't anticipate there really being any issues. But, do not hesitate! Closing this issue.

[2020-01-25 23:27] #161 closed

[2020-01-26 04:43] ryanhiebert commented on #161
Whelp, @jheld, it looks like it still can't install, because the version of Django is still being limited to `<3.0` in all cases. https://github.com/rdegges/django-twilio/blob/master/setup.py#L25

Which just means that, even though you fixed the code so it can run Django 3.0, the setup.py file isn't updated to allow me to even try it.

[2020-01-26 04:49] jheld commented on #161
Gotcha. Sorry about that. I'll try to fix that tomorrow morning. 0.12.1, probably. I'll likely delete 0.12.0 since though it works for some, it's certainly misleading at best.

I'm more annoyed that CI was working (there is a pypy 3 issue which seems unrelated). Had those tests broken on the rc I would have fixed. Curious how/what was actually installed for the django3 env marker...

Anyway, thank

[2020-01-26 05:01] ryanhiebert commented on #161
No problem, I appreciate the time you're putting in to getting this out. Thank you!

[2020-01-26 16:06] jheld commented on #161
Thank you for helping out!

@ryanhiebert
Before I publish 0.12.1 to PyPI, would you be able to test it out on your side? I've pushed it to master and made a tag already.

[2020-01-26 17:50] ryanhiebert commented on #161
I can confirm that it is allowing it to install Django 3.0.2.

[2020-01-26 17:51] ryanhiebert commented on #161
Secondarily, what will it take for you to be willing to add Django 3.1 to the version restriction? At the alpha or beta?

[2020-01-26 17:59] jheld commented on #161
i'll put this one out as is. I accidentally "rushed" this partial fix and so no rc for 0.12.1. as you say, it was really just a setup.py issue so changing the django req inside it was just about more granularity per-version.

As soon as 3.1 is bound to come out, I'll make either a 0.12.2 or a 0.13.0, depending on our change-set.

I'd like to explicitly cut out the unsupported/incompatible versions

[2020-02-09 19:40] jheld commented on #157
That was merged. Closing.

[2020-02-09 19:40] #157 closed

[2020-02-13 02:24] jheld commented on #160
Is this issue still occurring?

[2020-02-13 20:12] jheld commented on #154
I have changed the docs! merged into master and should be building the version shortly.

[2020-02-13 20:12] #154 closed

[2020-03-03 00:59] jheld commented on #144
If I happen to run into this I will re-open, but please re-open if this issue is still occurring for you.

[2020-03-03 00:59] #144 closed

[2020-03-03 02:00] jheld commented on #146
Hi @steverecio I don't see anything currently in the code that programmatically allows you to generate a subaccount. The `Credential` model is supported on django admin, but that's about it.

Sounds like we may want to build in support for subaccount management. Although we are very behind on the twilio 6.x branch (medium priority to upgrade!), if we can support this via how the docs are written:

[2020-03-03 02:22] jheld commented on #146
I've implemented a basic function and might go with this, but if you have feedback let me know I'll incorporate and then create the PR:

[code]

[2020-03-07 15:37] jheld commented on #146
@KrunchMuffin again I realize this is quite delayed from your initial question, but if you are still interested in this feature if you wouldn't mind reviewing/providing feedback here (or requesting I create an official PR!), please do so.

Given the example above is probably easy to use, I expect this could get merged within the short-term (within the month!). My project does not currently use sub

[2020-03-08 01:18] KrunchMuffin commented on #146
Unfortunately that project was put on hold for now. But will likely revisit at some point.

[2020-03-08 01:26] steverecio commented on #146
@jheld I'd be happy to review the PR when its ready. I'd like to start using subaccounts in the near future so happy to help where needed.

[2020-03-12 01:17] jheld commented on #146
@steverecio please see #174 for a (work in progress) branch. I haven't tested it at all -- I would probably write at least 1 test before going for merge.

[2020-04-06 13:42] nigelfig opened #175 "Django-Twilio package giving me a 403 forbidden when using “twilio_view” decorator"
I'm experiencing an issue with @twilio_view I've posted the details on stackoverflow: [my question on stackoverflow](https://stackoverflow.com/questions/61059997/django-twilio-package-giving-me-a-403-forbidden-when-using-twilio-view-decorat)

[2020-04-07 12:39] nigelfig commented on #175
When I use http://123abc.ngrok.io/newsms/ instead of https://123abc.ngrok.io/newsms/ it works. Why is that? I thought https should work with django-twilio?

[2020-04-16 01:40] jheld commented on #175
Curious, for the `https` address, are you sure that your server is processing the request? django's runserver is not capable of https, so I want to check on that, first.

[2020-04-16 02:37] nigelfig commented on #175
Yes, I think server is processing it, because it works when I have @csrf_exempt and use https://123abc.ngrok.io/newsms/ as webhook. I did upload an example of issue which can be duplicated to my github repository: testing-django-twilio.

[2020-04-16 12:25] jheld commented on #175
Still researching this.

It's interesting that if you switch to `@csrf_exempt` that the request goes through, because `@twilio_view` itself is wrapped under `@csrf_exempt`.

[2020-04-16 12:30] jheld commented on #175
I realize this next question probably isn't a good one, but in the interest of removing the simple problems first, can you put the normal decorator back in and try the https-based request again?

When you do, can you open the ngrok localhost console/panel, and check what headers were sent in on that request? I want to make sure that twilio's header actually makes it that far (that is: to your loca

[2020-04-16 13:26] nigelfig commented on #175
I was thinking about this a bit more. I had previously been using Django
2.1 and Django-Twilio version 0.10.0 and for that version I'm pretty sure
https requests were being processed correctly can you do a comparison
between the two versions of django-twilio .. to see if anything was
modified as it relates to this.

Thanks,
Nigel

On Thu, Apr 16, 2020 at 8:30 AM Jason Held <notifications@github.co

[2020-04-16 21:53] jheld commented on #175
I don't recall any real changes to the library recently. We went explicit support for py3.5-3.8, and django 2.2-3.0 but otherwise there shouldn't be any other changes yet.

Would you mind trying your test project against that older django twilio version?

[2020-05-03 03:27] nigelfig commented on #175
So I can now confirm issue is specific to using https as webhook with ngrok, if you use http as webhook it works fine.  I have tested with earlier versions of Django and Django-Twilio, and same problem of https as webhook with ngrok not working but http working occurs.

https on my prod environment i.e not using ngrok works fine.

"can you open the ngrok localhost console/panel, and check what hea

[2020-05-03 03:38] jheld commented on #175
Thank you for checking on this and verifying that it's essentially an ngrok/tunneling/header issue.

When you start your ngrok server it should have a link in the terminal for you to go to localhost or 127.0.0.1 on a given port (maybe 4040? I haven't tried in awhile). If there are request history shown you can click on a request and I think on the bottom it shows the headers. If the twilio headers

[2020-05-03 03:40] jheld commented on #175
Based on the above, I'm closing the issue. Should someone run the test (check headers) and post their results, that would be beneficial. We can also reopen, but I expect we won't find any bug in this project.

Would you mind opening an issue asking for the docs change?

[2020-05-03 03:40] #175 closed

[2020-07-27 09:29] balsagoth commented on #133
I'm interested in helping develop this feature. @jheld Is there any work already done?

[2020-07-27 11:41] jheld commented on #133
Not to my knowledge!

[2020-08-13 11:00] DmytroLitvinov opened #177 "Remove mention of South in documentation"
The latest version of the app supports only Django >= 2.2
_We are currently compatible with Django 2.2 and 3.0. Python versions 3.5 to 3.8._
For that purpose let's remove mention of that https://django-twilio.readthedocs.io/en/latest/install.html#databases-for-django-1-6-or-lower

[2020-08-19 15:46] DmytroLitvinov opened #178 "Wrong mention of twilio-python library documentation in django-twilio documentation"
There are mentions of `twilio-python` library with link to https://twilio-python.readthedocs.io/en/latest/ which is broken and does not exist.

The original link to documentation of `twilio-python` is https://twilio.github.io/twilio-python

[2020-08-24 14:32] ryanhiebert opened #180 "Django 3.1"
Django 3.1 was released August 4. This package isn't compatible, because of the version specifiers.

I believe, especially given the challenge it can be to the maintainers to keep up with everything (it's more work to release than we often think it is), that it would be wisest for the version specifier to be changed to either allowing all future versions, or at least allowing all future versions o

[2020-08-24 23:58] jheld commented on #180
`0.13.1b0` is now available on PyPI. Happy to get a `0.13.1` officially released after some community feedback. Thank you.

[2020-08-24 23:58] #180 closed

[2020-10-05 14:05] brianedelman opened #185 "cannot import name 'python_2_unicode_compatible' from 'django.utils.encoding'"
I am running django 3.0.10 and python 3.7 and receive this after installing library

[code]

[2020-10-05 14:12] brianedelman commented on #185
Closing. I had an old version :(

[2020-10-05 14:12] #185 closed

[2020-11-27 22:55] #178 closed

[2020-11-27 22:56] #177 closed

[2020-11-30 14:40] kolanos commented on #180
The recent change to the pip resolver is going to make this especially important:
https://github.com/pypa/pip/pull/9177

[2020-12-01 10:54] DmytroLitvinov opened #190 "New release 0.13.1"
Hi @jheld ,

What do we need to release 0.13.1 at PyPI?
I am ready to prepare some of PRs to release it as soon as possible.

[2020-12-08 00:07] jheld commented on #190
Has the latest prerelease worked for you? The release being alpha beta or whatever shouldn't stop you from using and upgrading Django, yes?

Nonetheless, if it works for you, I'm happy to merge.

[2020-12-08 19:33] DmytroLitvinov commented on #190
Seems like it works :+1:

[2020-12-12 03:54] jheld commented on #190
Thank you! I will plan to release by the end of the weekend.

[2020-12-15 05:38] jheld commented on #190
Fresh release out on PyPI.

[2020-12-15 05:38] #190 closed

[2020-12-23 10:07] cfc603 opened #192 "docs reference TwilioRestClient"
Running the following as referenced in the docs, raises `ObsoleteException`.

[code]
Can be replicated with `twilio` version 6.50.1 on `python` 3.8.5.

[2021-01-14 21:57] kagenami opened #194 "PyJWT"
Are there any plans to release a new version of this with the PyJWT dependency not requiring 1.7? Perhaps 2.0?

[2021-02-25 15:59] karls commented on #194
Unfortunately, twilio-python doesn't yet support PyJWT 2.x. See here: https://github.com/twilio/twilio-python/pull/560.

[2021-02-26 02:45] #192 closed

[2021-02-26 02:45] jheld commented on #160
Please re-open if the problem persists.

[2021-02-26 02:45] #160 closed

[2021-02-26 02:46] jheld commented on #146
this has been merged. please open new issues for any downstream problems.

[2021-02-26 02:46] #146 closed

[2021-03-11 05:23] incidentist opened #195 "Support Django ASGI Requests in decompose"
To reproduce:
1. Install and set up Django Channels on Django 3.1 and run an asgi server such as daphne
2. In a twilio_view, call `decompose(request)`

django-twilio throws this error:
[code]
This is because `decompose` checks that the request is of type HttpRequest or WSGIRequest. Django Channels calls views with instances of ASGIRequest, which is a valid request class in Django 3.

[2021-04-04 17:44] wbrefvem opened #196 "twilio_view returns 403 when TLS termination does not occur at the WSGI server"
My setup is a Django app running in gunicorn on Kubernetes. TLS termination occurs at the Kubernetes ingress controller (which is just a managed nginx), which forwards the request to my Django pod over http. Everything works fine if I disable forgery protection, but when it's enabled the validation fails. My Twilio auth token is fine -- requests from my app back to Twilio go through -- and `reques

[2021-04-04 18:02] wbrefvem commented on #196
Okay, found it. I need to set `SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')` in my settings.

[2021-04-04 18:02] #196 closed

[2021-05-12 18:48] incidentist opened #198 "Django 3.2 support"
Please update the version specifiers to include Django 3.2.

[2021-05-12 19:42] incidentist commented on #175
I ran into this issue in Google App Engine, which turns https requests into http requests at the load balancer. You can fix this issue for both ngrok and App Engine by setting the SECURE_PROXY_SSL_HEADER setting in Django settings, because they both set an `X-Forwarded-Proto` header indicating the protocol of the upstream request: https://docs.djangoproject.com/en/3.2/ref/settings/#secure-proxy-ss

[2021-05-15 13:30] jheld commented on #175
@incidentist can you open an issue for a doc change and possibly a PR with the change? It would be okay to paste the django docs link as part of the change (given django likely includes more info etc and may update their docs faster than we may).

[2021-05-19 02:33] jheld commented on #198
@incidentist would you be able to test out [v0.13.2a0](https://pypi.org/project/django-twilio/0.13.2a0/)?

[2021-08-21 03:09] 9mido opened #200 "TypeError: view must be a callable or a list/tuple in the case of include()."
I installed django-twilio==0.13.2a0 and am using django 3.2.

Configuring my project urls.py with any of the items from the docs views page results in:

[code]

[2021-08-21 15:35] 9mido opened #201 "Add pin code to conference"
https://www.twilio.com/blog/conference-call-line-twilio-programmable-voice-python-django

[2021-08-21 15:56] 9mido opened #202 "Add views for inbound/outbound browser calls and transfers"
https://github.com/TwilioDevEd/voice-javascript-sdk-quickstart-python

https://github.com/TwilioDevEd/browser-calls-django

https://github.com/TwilioDevEd/warm-transfer-flask

https://www.twilio.com/docs/voice/tutorials/how-to-modify-calls-in-progress-python

I would love if django-twilio could have views that would allow a user to type in a phone number using a form text input to call outbound an

[2021-11-27 18:10] ReznikovRoman commented on #194
@jheld  Twilio finally dropped support for older versions of python and now you can upgrade to PyJWT 2.0.
See here: https://github.com/twilio/twilio-python/pull/560#issuecomment-901282358

[2021-12-07 15:15] nickmccullum commented on #198
@jheld we are testing out that release now.

[2021-12-07 15:20] nickmccullum commented on #198
@jheld This works fine in our staging environment on Django 3.2. We are using it for SMS 2-factor authentication.

Do we have plans for a Django 3.3-compatible release?

[2021-12-15 21:50] jheld commented on #198
django 4.0 but yes. Would you be open to creating a draft PR which enables the support? I can but it may take me a bit of time to get it done.

[2022-01-05 18:32] sknutsonsf opened #205 "Django 4.0 support release date?"
When will support for django 4.0 be released?

The current release of django-twilio only allows django 3.2

[2022-01-12 20:10] nex2hex commented on #194
can you bump the version with twilio >= 7 ?

[2022-02-22 05:47] Fwhiteiv opened #210 "Twilio 7+ Limit in Setup.py"
Requirements allows for >6.3, but setup.py caps it at <7.

Any reason this can't be removed?

[2022-03-16 23:00] nickmccullum commented on #205
I'm working on upgrading a project to Django 4 using a fork of this library. I'll let you know if we run into any problems, and if not, we can merge it upstream.

[2022-03-18 03:24] jheld commented on #198
If you still need django 3.x support please re-open. The project is now supporting just django 4 officially but we may be able to maintain a separate branch for older releases as needed.

[2022-03-18 03:24] #198 closed

[2022-03-18 03:25] jheld commented on #205
I've merged initial django 4 support and cut the release to PyPI `0.14.0.a1`.
Closing this issue for now. If we find specific bugs related to the support of django 4.0, then we can re-open this or make new issues respectively.
You can comment here though if you don't run into any issues and I'll be happy to tag the official release.

[2022-03-18 03:25] #205 closed

[2022-03-18 03:28] jheld commented on #195
seeing as the PR was merged, closing. Please re-open if you find any issues.

[2022-03-18 03:28] #195 closed

[2022-03-18 03:28] jheld commented on #194
are we okay to close this issue?

[2022-08-13 23:18] nickmccullum opened #212 "Publish new release"
I see there is a new release, `django-twilio==0.14.0.a1`, which is compatible with Django 4. Can you publish this as the main release on PyPI?

[2022-08-15 03:44] jheld commented on #212
All set, thanks for the nudge!

[2022-08-15 03:44] #212 closed

[2022-09-04 03:07] jheld commented on #210
I do not remember. Can you open a PR and let's see what happens? :)

[2022-09-04 03:08] jheld commented on #201
It's definitely been _awhile_ since this was opened, but if you or someone are still in need, do you have an interest/availability to draft a PR?

[2022-09-26 14:27] aaronmader opened #213 "Support for Django 4.1"
The current release of django-twilio is restricted to django 4.0

Is there a reason 4.1 is not supported? Anything I can do to help?

[2022-09-26 19:58] jheld commented on #213
alpha support is up. happy to release official support soon if you find no issues!

[2022-10-21 23:06] Afani97 commented on #213
@jheld Any update on this?

[2022-10-22 18:32] jheld commented on #213
Given no one has come forth with complaints about the alpha release, yes, seems like a good time.

I've just released it to PyPI.

[2022-10-22 18:32] #213 closed

[2022-10-24 23:24] incidentist commented on #213
0.14.1 does not install via poetry with Django 4.1. I suspect the culprit is this line, which still specifies Django 4.1: https://github.com/rdegges/django-twilio/blob/master/setup.py#L14
Apologies for only noticing this after the release!

[2022-10-24 23:25] incidentist opened #215 "Add support for Python 3.11"
Looks like 2 lines in setup.py need to be updated to support Python 3.11, which was released today.

[2022-10-25 19:15] jheld commented on #213
https://github.com/rdegges/django-twilio/releases/tag/v0.14.3

all set. thank you for checking on this.

[2022-10-25 19:15] jheld commented on #215
Added support in the latest official release (but i have not tested).